@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/firasans-bold.woff") format("woff"), url("../fonts/firasans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/firasans-medium.woff") format("woff"), url("../fonts/firasans-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/firasans-regular.woff") format("woff"), url("../fonts/firasans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway-extrabold.woff") format("woff"), url("../fonts/raleway-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 29px;
  color: #484848;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.lazy {
  background-image: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
