$main-color: #ffffff;
$secondary-color: #484848;
$decorative-color1: #1fc0fc;
$decorative-color2: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-max-width: 1366px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
